body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
  }
  
h1 {
    text-align: center;
    color: #333;
}
  
form {
    margin-bottom: 10px;
}
  
ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
}
  
li {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
 
input{
    border: none;
    text-align:left;
    font-size: 1.2rem;
}
input:focus{
    outline: none;
}
  
.completed {
    text-decoration: line-through;
    color: gray;
}
.edit-title {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.4rem;
}
  
.todo-title {
    display: inline-block;
    word-break: break-word;
    margin-right: 2rem;
}
  
.edit-mode .todo-title {
    display: none;
}
  
.edit-mode .edit-title {
    display: inline-block;
}
  
.edit-mode .update-btn {
    display: inline-block;
}
.create-todo{
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;

}
.todo-text{
  padding: 0.5rem;
  width: 100%;
}
.btn{
  cursor: pointer;
}
.submit-btn{
  border:none;
  padding: 1rem;
  font-size: 1.2rem;
}

.todo-btn{
  display: inline-block;
}

.delete-btn{
   border:none;
   background: none;
}
.edit-btn{
  border:none;
  background: none;
}

.update-btn{
  border:none;
  background: none;
}

