<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Todo App</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://kit.fontawesome.com/7241f0e54a.js" crossorigin="anonymous"></script>
  
</head>

<body>
  <h1>Todo list App</h1>
  <form action="/create" method="POST" class="create-todo">
    <input class="todo-text" type="text" name="title" placeholder="Enter a new todo">
    <button class="submit-btn btn" type="submit">Add</button>
  </form>
  <h2>To Do's</h2>
  <ul>

    {{range .}}
    <li class="todo-container">
      <form action="/update" method="POST" style="display: inline;" class="todo">
        <input type="hidden" name="id" value="{{.ID}}">
        <span class="todo-title">{{.Title}}</span>

        <input type="text" name="title" class="edit-title" style="display: none;">
        <button class="edit-btn btn" type="button" onclick="toggleEdit(this)"><i class="fa-solid fa-pen-to-square fa-2x"></i></button>
        <button type="submit" class="update-btn btn" style="display: none;"><i class="fa-solid fa-check fa-2x" style="color: #2ed141;"></i></button>
        


      </form>
      <form action="/delete" method="POST" style="display: inline;">
        <input type="hidden" name="id" value="{{.ID}}">
        <button type="submit" class="delete-btn btn">   <i class="fa-solid fa-trash fa-2x" style="color: #f03333;"></i></button>
     
        
      </form>
    </li>



    {{end}}
  </ul>
  <script src="../static/script.js"></script>

</body>

</html>